/.vs/justanotherangine/v15/.suo
/.vs/justanotherangine/v15/Browse.VC.db
/.vs/justanotherangine/v15/Browse.VC.opendb
/.vs/justanotherangine/v15/ipch/AutoPCH/ef098bf5ae65eed2/MAIN.ipch
/.vs/justanotherangine/v15/ipch/AutoPCH/f8385af4d03b8a51/MAIN.ipch
/Debug/justanot.B8E4F55C.tlog/CL.command.1.tlog
/Debug/justanot.B8E4F55C.tlog/CL.read.1.tlog
/Debug/justanot.B8E4F55C.tlog/CL.write.1.tlog
/Debug/justanot.B8E4F55C.tlog/justanotherangine.lastbuildstate
/Debug/justanot.B8E4F55C.tlog/link.command.1.tlog
/Debug/justanot.B8E4F55C.tlog/link.read.1.tlog
/Debug/justanot.B8E4F55C.tlog/link.write.1.tlog
/Debug/justanotherangine.exe
/Debug/justanotherangine.ilk
/Debug/justanotherangine.log
/Debug/justanotherangine.pdb
/Debug/main.obj
/Debug/vc141.idb
/Debug/vc141.pdb
/x64/Debug/justanot.B8E4F55C.tlog/CL.command.1.tlog
/x64/Debug/justanot.B8E4F55C.tlog/CL.read.1.tlog
/x64/Debug/justanot.B8E4F55C.tlog/CL.write.1.tlog
/x64/Debug/justanot.B8E4F55C.tlog/justanotherangine.lastbuildstate
/x64/Debug/justanot.B8E4F55C.tlog/link.command.1.tlog
/x64/Debug/justanot.B8E4F55C.tlog/link.read.1.tlog
/x64/Debug/justanot.B8E4F55C.tlog/link.write.1.tlog
/x64/Debug/justanotherangine.exe
/x64/Debug/justanotherangine.ilk
/x64/Debug/justanotherangine.log
/x64/Debug/justanotherangine.pdb
/x64/Debug/main.obj
/x64/Debug/vc141.idb
/x64/Debug/vc141.pdb
